h1{
	color: white;
	font:arial;
	font-size:30px;
	font-family: Arial;
	background-color: #14141f;
	padding: 10px;
}

h2{
	color: black;
	font:arial; 
	font-size:26px;
	font-family: Arial;
}

body{
	background-image: url("images/background.jpg");
	background-size: cover;

	font-family: Arial;
}

p{
	font-size: 20px;
}

a{
	color: red;
}

.link{
	color:red;
}

.section{
	margin-bottom: 60px;
}

#profile-picture{
	border-radius: 48%;
	border-color: #0099ff;
}

#container{
	width:1140px;
	margin-left:auto;
	margin-right:auto;
}

#footer{
	background-color: #14141f;
	color: white;
}